<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.AnalysisMapper">
		
	<select id="select" parameterType="String" resultType="com.vo.AnalysisInfo">
		<![CDATA[ 
		select reg_date,n,ne,e,se,s,sw,w,nw,mile,oil from(select * from analysis_info order by reg_date desc)
		where car_num=#{car_num} and rownum<=1
		]]> 
	</select>
	<select id="selectMileage" parameterType="String" resultType="com.vo.AnalysisInfo">
		<![CDATA[ 
		select sum(oil) as oil,(max(mile)-min(mile)) as mile,to_char(reg_date,'YYYY-MM') as reg_date 
		from analysis_info where car_num=#{car_num} 
		group by to_char(reg_date,'YYYY-MM') order by reg_date
		]]> 
	</select>
</mapper>
   